@{
    ViewData["Title"] = "Persistent Storage Functionalities";
}

<div class="text-center">
    <h2 class="display-4">Persistent Storage Functionalities</h2>
</div>
<div>
    <h5 class="redColor">
        Customers
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "Customers")</p>
    <h5 class="redColor">
        Customers Details
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "CustomerDetails")</p>
    <h5 class="redColor">
        Categories
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "Categories")</p>
    <h5 class="redColor">
        Products
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "Products")</p>
    <h5 class="redColor">
        Products Details
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "ProductDetails")</p>
    <h5 class="redColor">
        Products Categories
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "ProductCategories")</p>
    <h5 class="redColor">
        Orders
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "Orders")</p>
    <h5 class="redColor">
        Orders Details
    </h5>
    <p>Access the module @Html.ActionLink("here!", "Index", "OrderDetails")</p>
</div>
